@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none; 
}

.header-links > a {
    box-shadow: inset 0 0 0 0 #db0a5b;
    color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header-links > a:hover {
    box-shadow: inset 150px 0 0 0 #db0a5b;
    color: white;
}

ul {
    list-style-type: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
    padding: 24px 32px;
}

.header-links {
    gap: 16px;
    margin-left: 100px;
}

.logo {
    color: #db0a5b;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.search-section {
    display: inline-flex;
    gap: 24px;
    align-items: center;
}

.header-links > * {
    padding: 0 24px;
    font-weight: 900;
    font-size: 24px;
}

.search-section > input {
	border: 1px solid #f1f1f1;
	height: 40px;
	padding: 0 10px;
	width: 200px;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.search-section > input:focus {
	animation: glow 800ms ease-out infinite alternate;
	outline: none;
}

.login {
    display: flex;
    align-items: center;
    background-color: #db0a5b;
    color: white;
    font-weight: 600;
	padding: 6px 16px;
    border-radius: 30px;
}

.login:hover {
    background-color: #ff5e9c;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/plane.jpg");
    background-size: 1900px;
    height: 500px;
}

.book-wrapper {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.book-window {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 0px 0px 24px 24px;
}

.notice-box {
    /*border: 1mm solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 16px;
    padding-bottom: 42px;
}

.notice-title {
    /*border: 1mm solid red;*/
    padding: 24px 0;
    font-weight: 900;
    font-size: 24px;
}

.notice-wrapper {
    /*border: 1mm solid red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    width: 70%;
}

.notice {
    width: 30%;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 30px;
}

.information-box {
    height: 250px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-wrapper {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

footer {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24%;
}

.social-media {
    display: flex;
    gap: 24px;
}

.list-title {
    font-weight: 900;
    margin-bottom: 12px;
}

li {
    margin-bottom: 12px;
}

.notice-title-top {
    font-weight: 900;
    font-size: 32px;
    padding: 24px 0px;
}

.notice {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.notice-title {
    padding: 8px 24px 0px 24px;
}

.notice-price {
    padding: 0px 24px 24px 24px;
}

.notice > img {
    height: 75%;
    object-fit: cover;
    transition: transform .5s ease;
}

.notice > img:hover {
    transform: scale(1.8);
}

.flag-box > div {
    flex: 1 1 0px;
    padding: 24px 0px 0px 0px;
    font-size: 32px;
    font-weight: 700;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: center;
}

.book-flight-flag {
    background-color: white;
    width: 100%;
}

ul > a:hover {
    color: #db0a5b;
}

.book-flight {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.book-top {
    flex: 1 1 auto;
    display: flex;
    align-items: end;
}

.book-bottom {
    flex: 2 1 auto;
}

.my-trips, .check-in, .flight-status {
    display: none;
}

.toggler {
    border: 0.1mm solid rgb(214, 214, 214);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 23%;
    border-radius: 30px;
    margin-left: 85px;
}

.book-default {
    background-color: #db0a5b;
    padding: 0px 28px;
    border-radius: 30px;
    color: white;
    font-weight: 700;
}

.mileage-booking {
    padding: 12px 24px;
}

.mileage-booking:hover {
    color: #db0a5b;
}

.book-bottom {
    display: flex;
    flex-direction: row;
}

.book-bottom-left {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    padding: 0px 16px;
}

.city-out:hover, .city-in:hover {
    border: 0.5mm solid #db0a5b;
    border-radius: 8px;
}

.swapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5mm solid rgb(214, 214, 214);
    border-radius: 50px;
    padding: 8px;
    margin: 8px;
}

.swapper:hover {
    border: 0.5mm solid #db0a5b;
}

.book-bottom-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 4 1 auto;
}

.city-in, .city-out {
    flex: 4 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    border: 0.5mm solid white;
    width: 100px;
}

.city-in-code, .city-out-code {
    font-size: 32px;
    font-weight: 900;
}

.departure-date > input {
    border: 1px solid #f1f1f1;
	height: 40px;
    padding: 16px;
	width: 160px;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.arrival-date > input {
    border: 1px solid #f1f1f1;
	height: 40px;
    padding: 16px;
	width: 160px;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.passengers > input {
    border: 1px solid #f1f1f1;
	height: 40px;
	padding: 0 16px;
	width: 120px;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.departure-date, .arrival-date, .passengers, .cabin-class {
    display: flex;
    flex-direction: column;
    color: #6d6d6d;
    gap: 12px;
}

label {
    margin-left: 4px;
}

select {
    border: 1px solid #f1f1f1;
	height: 40px;
    padding: 0px 16px;
	width: 180px;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.pop-up-departure-wrapper {
    display: none;
    width: 500px;
    height: 200px;
    position: absolute;
    left: 20%;
    top: 500px;
    border-radius: 20px;
}

.pop-up-departure {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    background-color: white;
    width: 500px;
    height: 220px;
    border-radius: 20px;
    padding: 24px;
    box-shadow: rgba(65, 69, 73, 0.2) 0px 8px 24px;
}

.pop-up-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
}

.pop-up-departure > select {
    border: 1px solid #f1f1f1;
	height: 40px;
	width: 100%;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.pop-up-departure > a {
    margin-top: 7%;
}

.pop-up-departure > a:hover {
    color: #db0a5b;
}

.pop-up-arrival-wrapper {
    display: none;
    width: 500px;
    height: 200px;
    position: absolute;
    left: 32%;
    top: 500px;
    border-radius: 20px;
}

.pop-up-arrival {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    background-color: white;
    width: 500px;
    height: 220px;
    border-radius: 20px;
    padding: 24px;
    box-shadow: rgba(65, 69, 73, 0.2) 0px 8px 24px;
}

.pop-up-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
}

.pop-up-arrival > select {
    border: 1px solid #f1f1f1;
	height: 40px;
	width: 100%;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.pop-up-arrival > a {
    margin-top: 7%;
}

.pop-up-arrival > a:hover {
    color: #db0a5b;
}

input:invalid {
    background-color: rgb(255, 230, 230);
}
