@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-y:scroll
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

a {
    color: black;
    text-decoration: none; 
}

header {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-links > a {
    box-shadow: inset 0 0 0 0 #db0a5b;
    color: black;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.header-links > a:hover {
    box-shadow: inset 150px 0 0 0 #db0a5b;
    color: white;
}

ul {
    list-style-type: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
    padding: 24px 32px;
}

.header-links {
    gap: 16px;
    margin-left: 100px;
}

.logo {
    color: #db0a5b;
    font-weight: 900;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.search-section {
    display: inline-flex;
    gap: 24px;
    align-items: center;
}

.header-links > * {
    padding: 0 24px;
    font-weight: 900;
    font-size: 24px;
}

.search-section > input {
	border: 1px solid #f1f1f1;
	height: 40px;
	padding: 0 10px;
	width: 200px;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.search-section > input:focus {
	animation: glow 800ms ease-out infinite alternate;
	outline: none;
}

.login {
    display: flex;
    align-items: center;
    background-color: #db0a5b;
    color: white;
    font-weight: 600;
	padding: 6px 16px;
    border-radius: 30px;
}

.login:hover {
    background-color: #ff5e9c;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}

.wrapper-main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

th {
    padding: 8px;
    background-color: #db0a5b;
    color: white;
}

table {
    padding-bottom: 16px;
    width: 900px;
}

h2 {
    padding-top: 32px;
}

h3 {
    padding-top: 32px;
    padding-bottom: 16px;
}

.moscow {
    padding-bottom: 32px;
}

.main-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px;
    margin-bottom: 16px;
}

footer {
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20%;
}

.social-media > a {
    padding: 0px 8px;
}