@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-y:scroll
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
    color: black;
    text-decoration: none; 
}

h1 {
    padding: 8px;
}
select {
    border: 1px solid #f1f1f1;
	height: 40px;
	width: 100%;
    border-radius: 30px;
    background-color: #f1f1f1;
    padding: 0px 16px;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.top {
    height: 350px;
    padding-top: 32px;
}

.weather-box {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 16px;
}

.weather-box > label {
    padding-left: 8px;
}

.weather-box > input {
    border: 1px solid #f1f1f1;
	height: 40px;
	padding: 0 10px;
	width: 40%;
    border-radius: 30px;
    background-color: #f1f1f1;
}

.weather-box-bottom {
    display: flex;
    flex-direction: row;
    height: 120px;
}

.select-city {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.degrees {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #db0a5b;
    color: white;
    font-weight: 600;
	padding: 6px 16px;
    border-radius: 30px;
    border: none;
    width: 100px;
    cursor: pointer;
}

.check:hover {
    background-color: #ff5e9c;
    cursor: pointer;
}

#temperature {
    flex: 1 1 auto;
    height: 100%;
    font-size: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-fetch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 7 1 auto;
    padding-left: 10%;
    gap: 8px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin: 16px 0px;
}

.example-box {
    width: 250px;
    height: 350px;
    border-radius: 20px;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}

.example-box-top {
    height: 68%;
    width: 100%;
    overflow: hidden;
}

.example-box-top > img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.example-box-bottom {
    display: flex;
    flex-direction: column;
}

.example-box-title {
    font-size: 28px;
    font-weight: 700;
    margin-left: 12px;
    padding: 8px 0px;
}

.example-box-details {
    margin: 0px 8px;
    padding: 16px;
    background-color: #db0a5b;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 15px;
}

.example-box-details:hover {
    background-color: #ff64a0;
}

footer {
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.social-media > a {
    padding: 0px 8px;
}
